<div id="app" class="app">
  <router-outlet></router-outlet>
  <div>
    <ngx-spinner bdOpacity=0.9 bdColor="rgba(243,37,37,0)" size="default" color="#f22d2d" type="ball-spin"
      [fullScreen]="true">
    </ngx-spinner>
  </div>
</div>