@import "variables";
@mixin theme-reset($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    .bg-primary {
        @include _mat-toolbar-color($primary);
    }
    .bg-accent {
        @include _mat-toolbar-color($accent);
    }
    .bg-warn {
        @include _mat-toolbar-color($warn);
    }
    .muted-text{
        color: mat-color($foreground, secondary-text);
    }
    .gradient-primary{  
        background: mat-color($primary, lighter);
        background: -moz-linear-gradient(to bottom, rgba(255,255,255, 0.5) 0%,mat-color($primary, lighter)50%, mat-color($primary)  100%); 
        background: -webkit-linear-gradient(to bottom, rgba(255,255,255, 0.5) 0%,mat-color($primary, lighter)50%, mat-color($primary)  100%); 
        background: linear-gradient(to bottom, rgba(255,255,255, 0.5) 0%,mat-color($primary, lighter)50%, mat-color($primary)  100%); 
    } 
    .mat-toolbar{
        padding: 0 $flex-distance;
        min-height: $toolbar-height;
    }
    .mat-toolbar-row, 
    .mat-toolbar-single-row{
        height: $toolbar-height;
    }
    .mat-raised-button.small-logo{
        color: mat-color($primary);
    }
    .horizontal-menu{
        background: mat-color($primary, darker) !important;
    }
    .horizontal-menu-item {
        .horizontal-sub-menu{
            background: mat-color($primary, darker);
        }
    }
    .active-link{
        border-radius: 0;
        background-color: mat-color($primary); 
        color: #fff;
    }
    .warn-color{
        color: mat-color($warn) !important;
    }
    
    /* ngx-charts */
    .ngx-charts{
        text{
            fill: mat-color($foreground, text); 
        }       
    }
    
}